[submodule "Monte_carlo_sim"]
	path = Monte_carlo_sim
	url = git@github.com:ESD625-Fedtmules-muler/Monte_carlo_Drone_sim.git
[submodule "Meshing_firmware"]
	path = Meshing_firmware
	url = git@github.com:ESD625-Fedtmules-muler/Radio_TDMA.git
	branch = Router
