[submodule "Monte_carlo_sim"]
	path = Monte_carlo_sim
	url = git@github.com:ESD625-Fedtmules-muler/Monte_carlo_Drone_sim.git
[submodule "Meshing_firmware"]
	path = Meshing_firmware
	url = git@github.com:ESD625-Fedtmules-muler/Radio_TDMA.git
	branch = Router
[submodule "Hardware/Transciever_hardware"]
	path = Hardware/Transciever_hardware
	url = git@github.com:ESD625-Fedtmules-muler/ESP_LR1121_Modem.git
[submodule "Antenna_measurements/Antenna-Plotting"]
	path = Antenna_measurements/Antenna-Plotting
	url = https://github.com/ESD625-Fedtmules-muler/Antenna-Plotting.git
